SENDGRID_API_KEY=""
FROM_EMAIL=""
APP_BASE_URL=http://localhost:3000
SLACK_BOT_TOKEN=""
NGROK_AUTHTOKEN=""


# ---Outlook auth 
OUTLOOK_CLIENT_ID=""
OUTLOOK_CLIENT_SECRET=""
OUTLOOK_REDIRECT_URI=""
OUTLOOK_TENANT=common
FRONTEND_URL=http://localhost:5173
--



# Start temporal server -> temporal server start-dev


# Everytime on fresh start 
# Start ngrok from its extracted folder->  .\ngrok http 3000 
# Then add the provided domain by ngrok into Slack request URL -> https://api.slack.com/apps/A0AGFB787DL/interactive-messages

#  Olama runs on : http://localhost:11434

# sample  Question :  What is our SLA for outages?

# APPROVAL --------
# Slack bot messaging
# Interactive approval buttons
# Backend webhook handling
# Temporal workflow orchestration
# Human approval flow
# Reminder escalation
# Email notifications


# Salesforce + Slack ---------------
# User creates Case in Salesforce.
# Salesforce Flow (Record Triggered Flow) runs.
# Flow performs HTTP POST callout to your Node.js webhook.
# Your Node.js server receives the payload.
# Node.js sends a Slack message using Slack Bot Token.